.resultsWrapper {
    position: relative;
    text-align: center;
    
}

.resultsWrapper > h1 {
    text-align: center;

}

.renderResults {
    position: relative;
    margin-top: 4vw;
}

.chartTitle {
    font-size: 2vw;
}
.searchHeader {
    font-size: 4vw;
    position: relative;
    text-align: center;
}