.superpowers {
    position: relative;
    float: left;
    left: 3vw;
    /* margin-top: 2vw; */
    /* width: 50% */
}
.superpowers > p {
    position: relative;
    font-size: 2vw;
    left: 1.0vw;
    top: 0.1vw;
    float: left;
}

.superpowerCheckButtonTrue {
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    border-radius: 0.4vw;
    position: relative;
    float: left;
    width: 3vw;
    height: 3vw;
    padding: 0;
}

.superpowerCheckButtonFalse {
    border: 1px solid lightskyblue;
    background-color: white;
    border-radius: 0.4vw;
    position: relative;
    float: left;
    width: 3vw;
    height: 3vw;
    padding: 0;
}   